name: Verilog Autotests
run-name: Testing ${{ github.repository }} by @${{ github.actor }}

on:
  create:
  repository_dispatch: 
  workflow_dispatch: 

jobs:
  run-tests:
    with:
      student_url: ${{ github.repository }}
      student_ref: ${{ github.sha }}
    uses: skkv-ct-comp-arch/private-tools-25/.github/workflows/verilog.yml@main
    secrets: inherit
